@page "/permissions"
@inject NavigationManager NavigationManager
@inject IPermissionService PermissionService

@attribute [Authorize]
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Permission</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Adminnistrator</a></li>
                        <li class="breadcrumb-item active">Permission</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <div class="card-body">
                            @if (permissions != null)
                            {
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Permission</th>
                                        <th>Status</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var perm in permissions)
                                    {
                                    <tr>
                                        <td>
                                            @perm.Title
                                        </td>
                                        <td>
                                            @perm.Status
                                        </td>
                                        <td>
                                            @perm.CreatedBy
                                        </td>
                                        <td>
                                            @(perm.CreatedDate.ToString("yyyy-MM-dd"))
                                        </td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                            }

                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
         </div>
            <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    @code {

        IEnumerable<TblPermission> permissions;
        string searchFilter;

        protected override async Task OnParametersSetAsync()
        {
            permissions = await PermissionService.ViewPermissionAsync();
        }

        //private void AddPermission()
        //{
        //    NavigationManager.NavigateTo($"/permissions/addpermission");
        //}

    }

