@page "/permissions"
@inject NavigationManager NavigationManager
@inject IPermissionService PermissionService

@attribute [Authorize]

<h3>Permission</h3>
<br />
<div class="row">
    <div class="col-auto">
        <input type="text" class="form-control" @bind-value="searchFilter" />
    </div>
    @*<div class="col-auto">
            <button type="button" class="btn btn-light" @onclick="OnSearch">Search</button>
        </div>*@
</div>
<br />

@if (permissions != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Permission</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perm in permissions)
            {
                <tr>
                    <td>
                        @perm.Title
                    </td>
                    <td>
                        @perm.Status
                    </td>
                    <td>
                        @perm.CreatedBy
                    </td>
                    <td>
                        @(perm.CreatedDate.ToString("yyyy-MM-dd"))
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="AddPermission">Add Permission</button>

}

@code {

    IEnumerable<TblPermission> permissions;
    string searchFilter;

    protected override async Task OnParametersSetAsync()
    {
        permissions = await PermissionService.ViewPermissionAsync();
    }

    private void AddPermission()
    {
        NavigationManager.NavigateTo($"/permissions/addpermission");
    }

}

