@page "/"
@page "/home"

@attribute [Authorize]
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-clires">
                <div class="row">
                    <div class="col-lg-5">
                        <ProjectComponent></ProjectComponent>

                        <CliresSystemComponent></CliresSystemComponent>

                    </div>
                    <!-- /.col-md-5 -->
                    <div class="col-lg-7">
                        <ProjectDesignComponent></ProjectDesignComponent>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->