<div class="alert @AlertTheme"
     style="@($"display: {display}")"
     role="alert">
    @((MarkupString)Message)

</div>

@code {
    string display = "none";
    public string AlertTheme { get; set; } = "alert-warning";

    public string Message { get; set; }

    public void Show()
    {
        display = "block";
        StateHasChanged();
    }

    public void Dismiss()
    {
        display = "none";
        Message = string.Empty;
    }

}
