<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Clires System</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <strong><i class="fas fa-users mr-1"></i>Administration</strong>

        <p class="text-muted">
            The Administration module is required to record information of users in both Back-end and Front-end applications.
        </p>

        <hr>

        <strong><i class="fas fa-cogs mr-1"></i>System Configuration</strong>

        <p class="text-muted">Managing dynamics data for the application to prevent from placing those data in programming codes. </p>

        <hr>

        <strong><i class="fas fa-pencil-alt mr-1"></i>Library Management</strong>
        <p class="text-muted">Including a series of libraries that can be used to deploy a new research project. </p>
        <hr>

        <strong><i class="far fa-file-alt mr-1"></i>Logs</strong>

        <p class="text-muted">The Logs focuses on tracking security information and project amendment activities</p>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <NavLink href="@("/cliressystem/home")" class="btn btn-warning float-right">Go</NavLink>
    </div>
    <!-- /.card-footer -->
</div>