@page "/error/{errorCode:int}"
@inject ILanguageContainerService languageContainer

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@languageContainer.Keys["error_page:title"]</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="alert alert-warning alert-dismissible">
                            <h5><i class="icon fas fa-exclamation-triangle"></i> @errorCode</h5>
                            @errorMessage
                        </div>
                        @*<img src="img/error_404.png" alt="404" class="img-fluid pad">*@
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
@code {
    [Parameter]
    public string errorCode { get; set; } = "500";
    [Parameter]
    public string errorMessage { get; set; } = "Something went really wrong. Please contact administrator";
    protected override void OnInitialized()
    {
        languageContainer.InitLocalizedComponent(this);
        switch(errorCode)
        {
            case "404":
                errorMessage = languageContainer.Keys["error_page:error_404_msg"];
                break;
            case "401":
                errorMessage = languageContainer.Keys["error_page:unauthorized"];
                break;
            default:
                errorMessage = languageContainer.Keys["error_page:system_error_msg"];
                break;     
        }
    }
}
