<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Projects</h3>
    </div>
    <div class="card-body">
        <!-- Color Picker -->
        <div class="form-group">
            <label>Project code</label>
            <select class="form-control select2" style="width: 100%;">
                <option selected="selected">05EI</option>
                <option>05TB</option>
                <option>26TB</option>
                <option>27TB</option>
                <option>33bCN</option>
                <option>35CN</option>
                <option>49DX</option>
            </select>
        </div>
        <!-- /.form group -->

        <div class="form-group">
            <label>Instance</label>
            <select class="form-control select2" style="width: 100%;">
                <option selected="selected">P1</option>
                <option>P2</option>
                <option>UAT1</option>
            </select>
        </div>
        <!-- /.form group -->

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a href="./project.html" class="btn btn-info float-right">Go</a>
    </div>
    <!-- /.card-footer -->
</div>